/* cores do projeto */
/* lembrar que posso utilizar os nomes como variavel */
:root {

    --azul-principal: #014A7F;

    --azul-secundario: #6F9DB8;

    --azul-claro: #AFC6D8;

    --azul-petroleo: #17354A;

    --off-white: #F8F6F2;

    --cinza-azulado: #D9E3EC;

    --branco: #FFFFFF;
}

/* reset dos estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--off-white) /*usando a variavel do 'root' das cores definidas para contruir o css*/;
    color: var(--azul-petroleo);
    line-height: 1.6;
}

h1,h2,h3 {
    font-family: "Playfair Display", serif;
    color: var(--azul-principal);
}

a {
    text-decoration: none;
    color: inherit;
}

/*Cabeçalho*/

.site-header {
    background-color: var(--off-white);
}

.logo img {
    width: 220px;
    height: auto;
    display: block;
}

.navbar {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-menu a {
    font-size: 14px;
    font-weight: 500;
    color: var(--azul-petroleo);
}

.nav-menu a:hover {
    color: var(--azul-principal);
    transition: color 0.3s;
}

/*Sobre*/

.about {
    background-color: var(--off-white);
}

.about-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.about-content {
    max-width: 750px;
}

.section-subtitle {
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--azul-secundario);
}

.about h2 {
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
}

.about-content p {
    margin-bottom: 20px;
}

.about-content p:last-child {
    margin-bottom: 0;
}